@{
    ViewBag.Title = "Tales";
}

<div class="jumbotron">
    <h1>Tales</h1>
    <p class="lead">A free blog service.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="blogs text-muted">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="max-width: 200px">
                    <img class="card-img-top" src="~/Content/Images/placeholder.jpg" alt="Card image cap">
                    <div class="card-body"></div>
                    <h5 class="card-title">Getting started</h5>
                    <p class="card-text">
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                        enables a clean separation of concerns and gives you full control over markup
                        for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
               </div>
                
                <div class="col-sm-4">
                <div class="card" style="max-width: 200px">
                    <img class="card-img-top" src="~/Content/Images/placeholder.jpg" alt="Card image cap">
                    <div class="card-body"></div>
                    <h5 class="card-title">Getting started</h5>
                    <p class="card-text">
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                        enables a clean separation of concerns and gives you full control over markup
                        for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
                    </div>
                <div class="col-sm-4">
                    <div class="card" style="max-width: 200px">
                        <img class="card-img-top" src="~/Content/Images/placeholder.jpg" alt="Card image cap">
                        <div class="card-body"></div>
                        <h5 class="card-title">Getting started</h5>
                        <p class="card-text">
                            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                            enables a clean separation of concerns and gives you full control over markup
                            for enjoyable, agile development.
                        </p>
                        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                    </div>

                </div>
        </div>
    </div>
</div>

